In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("train.csv")

In [3]:
def wrangling(df):
    
    cat=[i for i in df.columns if df[i].dtype=="O"]
    notCat=[i for i in df.columns if(i not in cat)]
    
    
#     replacing all nan values with missing in HomePalnet
    df.HomePlanet.fillna("Missing_Home_planet",inplace=True)
#     now since homePlanet is an cetegorical type field we'll use dummies in here
    homePlanet=pd.get_dummies(df.HomePlanet)
    df=pd.concat([df,homePlanet],axis=1)
    df.drop(["HomePlanet","Missing_Home_planet"],axis=1,inplace=True)
#     work of homePlanet column is over now--dropping missing planet cause might be in testing dataset there is no missing columns
    
    
#     now procesing cryosleep column
    df.CryoSleep.fillna("Missing_Cryo_Sleep",inplace=True)
    cryoSleep=pd.get_dummies(df.CryoSleep,prefix="CryoSleep")
    df=pd.concat([df,cryoSleep],axis=1)
    df.drop(["CryoSleep","CryoSleep_Missing_Cryo_Sleep"],axis=1,inplace=True)
#    pre-procesiing of cryosleep column is done


#     now we'll deal with cabin column and its adverseries
    #df["Cabin_deck"]=df.Cabin.apply(lambda x: "Missing_deck" if str(x)=='nan' else list(x)[0])
    df["Cabin_deck"]=df.Cabin.apply(lambda x: "Missing_deck" if( len(list(str(x).split("/")))!=3 ) else list(str(x).split("/"))[0]   )
    #df["Cabin_side"]=df.Cabin.apply(lambda x: "Missing_side" if str(x)=='nan' else list(x)[4])
    df["Cabin_side"]=df.Cabin.apply(lambda x: "Missing_side" if( len(list(str(x).split("/")))!=3 ) else list(str(x).split("/"))[2]   )
    df.drop(["Cabin"],axis=1,inplace=True)
    dummy_cabin_deck=pd.get_dummies(df.Cabin_deck,prefix="Cabin_deck")
    dummy_cabin_side=pd.get_dummies(df.Cabin_side,prefix="Cabin_side")
    df=pd.concat([df,dummy_cabin_deck,dummy_cabin_side],axis=1)
    df.drop(["Cabin_deck","Cabin_side","Cabin_deck_Missing_deck","Cabin_side_Missing_side"],axis=1,inplace=True)
#     pre-processing for cabin is done

#     Destination pre processing
    df.Destination.fillna("Missing_Destination",inplace=True)
    destinantion=pd.get_dummies(df.Destination,prefix="Destination")
    df=pd.concat([df,destinantion],axis=1)
    df.drop(["Destination","Destination_Missing_Destination"],axis=1,inplace=True)
#     finally destination work is too done


#     working on VIP feature
    df.VIP.fillna("Missing_VIP",inplace=True)
    vip=pd.get_dummies(df.VIP,prefix="VIP")
    df=pd.concat([df,vip],axis=1)
    df.drop(["VIP","VIP_Missing_VIP"],axis=1,inplace=True)
    
    
    
#     now lets drop Name column cause it's of no fucking use
    df.drop(['Name'],axis=1,inplace=True)
    
#     now let's deal with numerical columns
    
    df.Age.fillna(df.Age.mean(),inplace=True)
    
    df.RoomService.fillna(0,inplace=True)
    df.FoodCourt.fillna(0,inplace=True)
    df.ShoppingMall.fillna(0,inplace=True)
    df.Spa.fillna(0,inplace=True)
    df.VRDeck.fillna(0,inplace=True)
    
    
    return df

In [4]:
edt=wrangling(df)

In [5]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
edt.Transported=enc.fit_transform(edt.Transported)
edt.head()

,PassengerId,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Earth,Europa,...,Cabin_deck_F,Cabin_deck_G,Cabin_deck_T,Cabin_side_P,Cabin_side_S,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True
0,0001_01,39.0,0.0,0.0,0.0,0.0,0.0,0,0,1,...,0,0,0,1,0,0,0,1,1,0
1,0002_01,24.0,109.0,9.0,25.0,549.0,44.0,1,1,0,...,1,0,0,0,1,0,0,1,1,0
2,0003_01,58.0,43.0,3576.0,0.0,6715.0,49.0,0,0,1,...,0,0,0,0,1,0,0,1,0,1
3,0003_02,33.0,0.0,1283.0,371.0,3329.0,193.0,0,0,1,...,0,0,0,0,1,0,0,1,1,0
4,0004_01,16.0,303.0,70.0,151.0,565.0,2.0,1,1,0,...,1,0,0,0,1,0,0,1,1,0

In [6]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [7]:
x=edt.drop(["PassengerId","Transported"],axis=1)
y=edt.Transported

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [9]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

C:\Python37\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7917944785276073

In [10]:
from sklearn.ensemble import RandomForestClassifier
nes=[]
acc=[]
for i in range(1,100):
    model2=RandomForestClassifier(n_estimators=i)
    model2.fit(x_train,y_train)
    nes.append(i)
    acc.append(model2.score(x_test,y_test))
print(nes)
print(acc)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0.7147239263803681, 0.7438650306748467, 0.7607361963190185, 0.7672546012269938, 0.7741564417177914, 0.7687883435582822, 0.7791411042944786, 0.7833588957055214, 0.7871932515337423, 0.7806748466257669, 0.7894938650306749, 0.7745398773006135, 0.7879601226993865, 0.7837423312883436, 0.785659509202454, 0.7891104294478528, 0.7894938650306749, 0.7837423312883436, 0.790260736196319, 0.7883435582822086, 0.7868098159509203, 0.790260736196319, 0.7891104294478528, 0.7963957055214724, 0.7910276073619632, 0.7960122699386503, 0.7848926380368099, 0.7929447852760736, 0.7956288343558282, 0.7879601226993865, 0.7940950920245399, 0.7940950920245399, 0.7933282208588958, 0.790260736196319, 0.7921779141104295, 0.7967791411042945, 0.7879601226993865, 0.7871932515337423, 0.7921779141104295, 0.790260736196319, 0.7891104294478528, 0.7956288343558282, 0.7929447852760736, 0.7914110429447853, 0.7979294478527608, 0.7948619631901841, 0.7975460122699386, 0.7914110429447853, 0.7914110429447853, 0.7933282208588958, 0.7910276073619632, 0.7921779141104295, 0.7921779141104295, 0.7944785276073619, 0.7979294478527608, 0.7910276073619632, 0.7917944785276073, 0.7948619631901841, 0.7914110429447853, 0.7929447852760736, 0.7929447852760736, 0.7914110429447853, 0.7963957055214724, 0.7917944785276073, 0.7956288343558282, 0.7937116564417178, 0.7944785276073619, 0.7933282208588958, 0.7994631901840491, 0.7952453987730062, 0.7944785276073619, 0.7979294478527608, 0.7894938650306749, 0.7952453987730062, 0.7967791411042945, 0.7894938650306749, 0.7933282208588958, 0.7937116564417178, 0.7967791411042945, 0.7921779141104295, 0.7971625766871165, 0.7940950920245399, 0.7887269938650306, 0.7994631901840491, 0.7963957055214724, 0.7914110429447853, 0.7948619631901841, 0.7914110429447853, 0.7963957055214724, 0.7940950920245399, 0.7910276073619632, 0.7986963190184049, 0.7883435582822086, 0.8006134969325154, 0.7933282208588958, 0.7898773006134969, 0.7975460122699386, 0.7963957055214724, 0.790260736196319]

In [11]:
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

In [12]:
pipelines={
    'rf':make_pipeline(StandardScaler(),RandomForestClassifier(random_state=1234)),
    'gb':make_pipeline(StandardScaler(),GradientBoostingClassifier(random_state=1234))
    
}

In [13]:
RandomForestClassifier().get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [14]:
grid={
    'rf':{
      'randomforestclassifier__n_estimators':[100,200,300]  
    },
    'gb':{
        'gradientboostingclassifier__n_estimators':[100,200,300]
    }
}

In [15]:
fit_model={}
for algo,pipeline in pipelines.items():
    print(f"training {algo} model")
    model=GridSearchCV(pipeline,grid[algo],n_jobs=-1,cv=10)
    model.fit(x_train,y_train)
    fit_model[algo]=model

training rf model
training gb model

# Evaluation Peformance on test partition

In [16]:
# fit_model.items()

In [17]:
from sklearn.metrics import accuracy_score,recall_score,precision_score

In [18]:
for algo,model in fit_model.items():
    yhat=model.predict(x_test)
    acc_score=accuracy_score(y_test,yhat)
    pres_score=precision_score(y_test,yhat)
    rec_score=recall_score(y_test,yhat)
    print(f"accuracy of {algo} is-{acc_score}  and recall-{rec_score} and precision-{pres_score}")

accuracy of rf is-0.7971625766871165  and recall-0.7839080459770115 and precision-0.805511811023622
accuracy of gb is-0.7952453987730062  and recall-0.8505747126436781 and precision-0.7660455486542443

# Now Saving best model

In [19]:
import pickle
with open("randomForest.pkl",'wb') as f:
    pickle.dump(fit_model['rf'],f)

In [20]:
test_df=pd.read_csv("test.csv")

In [21]:
test_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [22]:
test_edt=wrangling(test_df)

In [23]:
test_yhat=fit_model['rf'].predict(test_edt.drop(['PassengerId'],axis=1))

In [24]:
submit=pd.DataFrame(pd.concat([test_edt.PassengerId,pd.DataFrame(test_yhat,columns=['Transported'])],axis=1))

In [25]:
submit.Transported=submit.Transported.apply(lambda x: True if x==1 else False)

In [26]:
submit.head()

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01        False

In [27]:
submit.to_csv("kaggle_submittion.csv",index=False)